---
import i18next, { t } from "i18next"
import { type MapLocation } from "@/store/locations"
import Header from "@/components/Header.svelte"
import { switchSiteLanguage } from "@/services/i18n"
import Footer from "@/components/Footer.svelte"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props;

const navLinks = {
  [t("header.about.link")]: t("header.about.text"),
  [t("header.contact.link")]: t("header.contact.text"),
}

const locations: { [key: string]: MapLocation } = {
  harlingen: {
    coordinates: [26.169884, -98.013546],
    address: {
      street: "1327 E Washington Ave #203",
      cityLine: "Harlingen, TX 78550",
      phone: "(956) 241-0157"
    }
  }
}

await switchSiteLanguage(Astro.url)
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Website by DreamCraft"}/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <!-- <meta http-equiv="refresh" content="0;url=/en/"/> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400&display=swap"/>
    <link
      crossorigin
      rel="stylesheet",
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css",
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="/>
    <title>{title + t("home.title")}</title>
  </head>
  <body>
    <Header client:load links={navLinks}/>
    <slot/>
    <Footer
      type="default"
      description={t("footer.description")}
      siteName={import.meta.env.PUBLIC_SITE_NAME}
      links={navLinks}/>
  </body>
</html>

<style is:global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html * {
    @apply font-main;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headings;
  }

  p, span {
    @apply text-gray-600;
  }

  code {
    font-family:
      JetBrains Mono,
      Fira Code,
      Roboto Mono,
      DejaVu Sans Mono,
      Menlo,
      Monaco,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  button[type="submit"], button[type="button"], a[class*="bg"], nav ul li a {
    @apply font-bold;
  }
</style>
